<div color="medium">


  <ion-grid fixed class="myListHeader  ion-hide-md-down">
    <ion-row>
      <ion-col size-md="1">
        <ion-label >Contacto</ion-label>
      </ion-col>
      <ion-col size-md="5">
        <ion-label>Nombre</ion-label>
      </ion-col>
      <ion-col size-md="4">
        <ion-label>tel</ion-label>
      </ion-col>
      <ion-col size-md="1">
        <ion-label >Editar</ion-label>
      </ion-col>
      <ion-col size-md="1">
        <ion-label >Borrar</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="myList">
    <ion-row *ngFor="let tel of listin; index as i">
      <ion-col size="8" offset="4" offset-md="0" size-md="1"> 
        <ion-avatar>
          <ion-img [src]="tel.numero_tel_imagen" style="border-radius: 50%;"></ion-img>
        </ion-avatar>
               
      </ion-col>
      <ion-col size="6" size-md="5">
        <ion-label>{{tel.numero_tel_nombre}}</ion-label>
      </ion-col>
      <ion-col size="6" size-md="4">
        <ion-label>{{tel.numero_tel_numero}}</ion-label>
      </ion-col>
      <ion-col size="1" offset="8" size-md="1" offset-md="0"class="btnCenter">
        <ion-icon name="create-sharp" size="large"  color="warning" (click)="editartelefono(tel)"></ion-icon>
      </ion-col>
      <ion-col size="1" size-md="1" class="btnCenter">
        <ion-icon name="trash-sharp" size="large"  color="danger" (click)="borrartelefono(tel)"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-fab   horizontal="end" vertical="top"  slot="fixed" >
    <ion-fab-button color="tertiary" (click)="addTelefono()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  
</div>

