<div color="medium" >


  <ion-grid fixed class="myListHeader  ion-hide-md-down">
    <ion-row>
      <ion-col size-md="5">
        <ion-label >Imagen</ion-label>
      </ion-col>
      <ion-col size-md="5">
        <ion-label>Comentario</ion-label>
      </ion-col>
      <ion-col size-md="1">
        <ion-label >Editar</ion-label>
      </ion-col>
      <ion-col size-md="1">
        <ion-label >Borrar</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>


 
  <ion-grid class="myList">

    <ion-row *ngFor="let foto of albumFotos; index as i">
      <ion-col size="12" size-md="5">
        <ion-img [src]="foto.foto_imagen" color="light"></ion-img>
      </ion-col>
      <ion-col size="12" size-md="5">
        <ion-textarea >{{foto.foto_comentario}}</ion-textarea>
      </ion-col>
      <ion-col size="1" offset="8" size-md="1" offset-md="0"class="btnCenter">
        <ion-icon name="create-sharp" size="large"  color="warning" (click)="editarFoto(foto)"></ion-icon>
      </ion-col>
      <ion-col size="1" size-md="1" class="btnCenter">
        <ion-icon name="trash-sharp" size="large"  color="danger" (click)="borrarFoto(foto)"></ion-icon>
      </ion-col>
    </ion-row>

  </ion-grid>




  <ion-fab   horizontal="end" vertical="top"  slot="fixed" >
    <ion-fab-button color="tertiary" (click)="addFoto()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  
</div>
