

.myListHeader{
    width: 90%;
    margin: auto;
    font-size: 20px;
    margin-top: 30px;
    color: #009faf;
    text-align: center;
    font-weight: bold;
}
.myList{
    width: 90%;
    margin: auto;
    background: #e0f7fa;
    ion-row{
        margin: 5px;
        border: 1px solid #009faf ;
        border-radius: 20px 20px;
        background: #f4f5f8;
        color: black;
        text-align: justify;  
        ion-col{
            margin-top: 5px;
            margin: auto;
            ion-label{
                font-size: 20px;
                
            }
            ion-img{
                width: 50%;
                margin: auto;
            }
            ion-textarea{
                height: 80%;
                font-size: 20px;
                margin: 5px;
                padding: 5px;
            }
        }
        
    }
}
ion-fab{
    margin-top:15%;
    @media only screen and (max-width: 600px){
        margin-top: 50%;
    }
    
}


.btnCenter{
    margin: auto;
    text-align: center;
}
.border{
    border: 1px solid #009faf;
    border-radius: 20px 20px;
    margin: auto;
}
