<ion-header>
  <ion-toolbar color="medium">
    <ion-title color="tertiary"> Editar medicamento del horario</ion-title>
 </ion-toolbar>
</ion-header>

<ion-content color="medium">

  <ion-content class="cont" color="medium">
    <ion-item class="formulario">
      <ion-label>Franja horaria</ion-label>
      <ion-select cancelText="Cancelar" okText="Seleccionar" color="tertiary" [(ngModel)]=updateMedicamento.franja>
        <ion-select-option *ngFor="let franja of franjas; index as i"  value="{{franja.id}}">{{franja.franja}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="formulario">
      <ion-label>Medicamento : </ion-label>
      <ion-input type="text" placeholder="Nombre del medicamento..." [(ngModel)]=updateMedicamento.medicamento></ion-input>
    </ion-item>
    <ion-item class="formulario">
      <ion-label>Cantidad : </ion-label>
      <ion-input type="text" placeholder="Cantidad..." [(ngModel)]=updateMedicamento.cantidad></ion-input>
    </ion-item>

    <div class="btnGroup">
      <ion-button color="success" (click)="toUpdateMedicamento()">
        <ion-icon slot="start" name="save" size='large' ></ion-icon>
        Guardar
      </ion-button>
      <ion-button color="danger" (click)="cancelAdd()">
        <ion-icon slot="start" name="close"  size='large'></ion-icon>
        Cancelar
      </ion-button>
    </div>

</ion-content>





</ion-content>

