<div color="medium">


  <ion-grid fixed class="myListHeader  ion-hide-md-down">
    
    <ion-row>
      <ion-col size-md="3">
        <ion-label>Evento</ion-label>
      </ion-col>
      <ion-col size-md="2">
        <ion-label >Fecha</ion-label>
      </ion-col>
      <ion-col size-md="2">
        <ion-label>Hora</ion-label>
      </ion-col>
      <ion-col size-md="3">
        <ion-label>Descripción</ion-label>
      </ion-col>
      <ion-col size-md="1">
        <ion-label >Editar</ion-label>
      </ion-col>
      <ion-col size-md="1">
        <ion-label >Borrar</ion-label>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid class="myList">
    <ion-row *ngFor="let agenda of agendaItem; index as i">
      <ion-col size="12" size-md="3">
        <ion-label><strong>{{agenda.item_agenda_item}}</strong></ion-label>
      </ion-col>
      <ion-col size="6" size-md="2">
        <ion-label>{{agenda.item_agenda_fecha}}</ion-label>
      </ion-col>
      <ion-col size="6" size-md="2">
        <ion-label>{{agenda.item_agenda_hora}}</ion-label>
      </ion-col>
      <ion-col size="12" size-md="2">
        <ion-textarea >{{agenda.item_agenda_descripcion}}</ion-textarea>
      </ion-col>
      <ion-col size="1" offset="8" size-md="1" offset-md="0" class="btnCenter">
        <ion-icon name="create-sharp" size="large"  color="warning" (click)="editarItemAgenda(agenda)"></ion-icon>
      </ion-col>
      <ion-col size="1" size-md="1" class="btnCenter">
        <ion-icon name="trash-sharp" size="large"  color="danger" (click)="borrarItemAgenda(agenda)"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-fab  horizontal="end" vertical="top"  slot="fixed" >
    <ion-fab-button color="tertiary" (click)="addItemAgenda()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  
</div>
