ion-content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    div{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
 
}

ion-button{
    font-size: 40px;
}