<div color="medium" class="contenedor">

  <div>
    <ion-button class="btnReports" (click)="viewReports()"   shape="round" color="tertiary">
      <ion-icon name="newspaper" color="light"size="large" style="margin-right: 10px;"></ion-icon>
      <h2>Seguimiento medicación</h2>
    </ion-button>
  </div>

  <ion-grid fixed class="myListHeader  ion-hide-md-down">
    <ion-row>
      <ion-col size-md="2">
        <ion-label size-md="2">Franja horaria</ion-label>
      </ion-col>
      <ion-col size-md="4">
        <ion-label size-md="4">Medicamento</ion-label>
      </ion-col>
      <ion-col size-md="4">
        <ion-label size-md="4">Cantidad</ion-label>
      </ion-col>
      <ion-col size-md="1">
        <ion-label size-md="1">Editar</ion-label>
      </ion-col>
      <ion-col size-md="1">
        <ion-label size-md="1">Borrar</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="myList">
    <ion-row *ngFor="let medicamento of listaMedicamentos; index as i" class="itemList">
      <ion-col size="12" size-md="2" [ngSwitch]="medicamento.medicamento_franja_id">
        <ion-label *ngSwitchCase="1">Desayuno</ion-label>
        <ion-label *ngSwitchCase="2">Almuerzo</ion-label>
        <ion-label *ngSwitchCase="3">Comida</ion-label>
        <ion-label *ngSwitchCase="4">Merienda</ion-label>
        <ion-label *ngSwitchCase="5">Cena</ion-label>
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-label ><strong> {{medicamento.medicamento_nombre}} </strong></ion-label>  
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-label >{{medicamento.medicamento_cantidad}}</ion-label>
      </ion-col>
      <ion-col size="1" offset="8" size-md="1" offset-md="0">
        <ion-icon name="create-sharp" size="large"  color="warning" (click)="editarMedicamento(medicamento)"></ion-icon>
      </ion-col>
      <ion-col size="1" size-md="1">
        <ion-icon name="trash-sharp" size="large"  color="danger" (click)="borrarMedicamento(medicamento)"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-fab  horizontal="end" vertical="top"  slot="fixed" >
    <ion-fab-button color="tertiary" (click)="addMedicamento()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  
</div>