
ion-content{
    height: 100%;
}
ion-label{
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    @media only screen and (max-width: 600px){
        font-size: 20px;
        margin: 3px;
        padding: 3px;
    }
}
ion-segment-button{
    max-width: none;
}
ion-segment{
    background: #4dd0e1;
    margin-top: 20px;
    margin-bottom: 20px;
}

   