<app-header></app-header>

<ion-content color="medium" [fullscreen]="true">


  <ion-segment scrollable [(ngModel)]=segmentoActual (ionChange)="segmentChanged($event)" [(ngModel)]="valorSegmento" >
    <ion-segment-button value="datosPersonales" >
      <ion-label >DATOS PERSONALES</ion-label>
    </ion-segment-button>
    <ion-segment-button value="horarios">
      <ion-label>HORARIO MEDICAMENTOS</ion-label>
    </ion-segment-button>
    <ion-segment-button value="fotos">
      <ion-label>ÁLBUM FOTOGRÁFICO</ion-label>
    </ion-segment-button>
    <ion-segment-button value="agenda">
      <ion-label>AGENDA</ion-label>
    </ion-segment-button>
    <ion-segment-button value="telefonos">
      <ion-label>LISTÍN TELEFÓNICO</ion-label>
    </ion-segment-button>

  

  </ion-segment>

  
  
    <app-datos-personales *ngIf="segmentoActual === 'datosPersonales'"></app-datos-personales>
  

    <app-horarios *ngIf="segmentoActual === 'horarios'"></app-horarios>



    <app-album *ngIf="segmentoActual === 'fotos'"></app-album>
 


    <app-agenda *ngIf="segmentoActual === 'agenda'"></app-agenda>



    <app-listin *ngIf="segmentoActual === 'telefonos'"></app-listin>


  

</ion-content>
