ion-content{

    display: flex;
    justify-content: center;
    align-items: center;

}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    flex-direction: column;
    height: 100%;
    margin: auto;
    h1{
        font-size: 40px;
        color: #009faf;
    }
    ion-progress-bar{
        height: 30px;
    }
}