

<ion-content [fullscreen]="true" color=medium>

  <div>
    <h1>Carcangando los datos nuevos</h1>
    <ion-progress-bar color="secondary" type="indeterminate"></ion-progress-bar>
  </div>

</ion-content>
