#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

/*.btn-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  color: black;
  
  
}*/
ion-content{
  display: flex;
  //flex-direction: row;
  justify-content: center;
  align-items: center;
}
ion-grid{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
ion-row{
  width: 90%;
  margin: 30px;
  height: 80%;
  display: flex;
  align-items: center;

}
.btn-home{
  border: 1px solid #009faf;
  border-radius: 20px 20px;
  height: 100%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  -webkit-box-shadow: 5px 5px 15px 5px #4dd0e1; 
  box-shadow: 5px 5px 15px 5px #4dd0e1;
  h2{
    font-size: 25px;
    color: #009faf;
    margin-bottom: 1rem;
    margin: 5px;
  }
  img{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.btn-camara{
  background-color: #ffffff;
}

.btn-calendario{
  background-color: #ffffff;
}

.btn-juegos{
  background-color: #ffffff;
}