<app-header></app-header>

<ion-content [fullscreen]="true" class="btn-container" color="medium">

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-md="2.4" style="height: 90%;" >
        
          <div class="btn-home btn-camara" (click)="homeAlbum()" style="background-color: #FEF9E7;">
            <img src="./../../../assets/camara.png">
            <h2>Álbum de fotos</h2>
          </div>

      </ion-col>
      <ion-col size="12" size-md="2.4" style="height: 80%;">
        
        <div class="btn-home btn-camara" (click)="homeListin()" style="background-color: #FDF2E9;">
          <img src="./../../../assets/telefono.png">
          <h2>Listin de teléfonos</h2>
        </div>

    </ion-col>

    <ion-col size="12" size-md="2.4" style="height: 70%;" >
        
      <div class="btn-home btn-juegos" (click)="homeJuegos()" style="background-color: #E0E6F8;">
        <img src="./../../../assets/juegos.png">
        <h2>Juegos de memoria</h2>
      </div>
      
    </ion-col>


  
  <ion-col size="12" size-md="2.4" style="height: 80%;">
    
    <div class="btn-home btn-calendario" (click)="homeAgendaCalendario()" style="background-color: #F8EFFB;">
      <img src="./../../../assets/calendario.png">
      <h2>Agenda y calendario</h2>
    </div>
    
</ion-col>


    <ion-col size="12" size-md="2.4" style="height: 90%;">
        
      <div class="btn-home btn-calendario" (click)="homeMedicacion()" style="background-color: #E0F8E0;">
        <img src="./../../../assets/farmacia.png" style="width: 50%;">
        <h2>Medicamentos</h2>
      </div>
      
    </ion-col>

    
  </ion-row>



 
  </ion-grid>

</ion-content>
