ion-header{
    background: #e0f7fa;
}
ion-toolbar{
    display: flex;
    justify-content: space-between;
}
.ico-left{
    margin-right: 20px;
}
p{
    font-size: 30px;
    margin-top: unset;
    margin-bottom: unset;
}
.alert-class{
    width: 50%;
    h2{
        font-size: 40px;
    }
}
.alert-wrapper{
    width: 50%;
    h2{
        font-size: 40px;
    }
}
h2{
    font-size: 40px;
}
.alert-title.sc-ion-alert-md {
    font-size: 40px;
}
ion-alert{
    font-size: 40px;
    width: 50%;
}

@media only screen and (max-width: 600px){
    p{
        font-size: 20px;
    }
}