<ion-header>
  <ion-toolbar color="medium">

    <ion-button (click)="goHome()"  shape="round" color="tertiary">
      <ion-icon class="ico-left" name="home" color="light"size="large"></ion-icon>
      <p color="light">Volver Atrás</p>
    </ion-button>

</ion-toolbar>
</ion-header>

<ion-content color="medium" [fullscreen]="true">

  <ion-grid fixed class="myListHeader  ion-hide-md-down">
    <ion-row>
      <ion-col size-md="3">
        <ion-label >Fecha</ion-label>
      </ion-col>
      <ion-col size-md="3">
        <ion-label>Franja horaria</ion-label>
      </ion-col>
      <ion-col size-md="3">
        <ion-label >Medicamento</ion-label>
      </ion-col>
      <ion-col size-md="3">
        <ion-label >Validacion</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed class="myList">
    <ion-row *ngFor="let item of infoReports;">
      <ion-col size="6" size-md="3">
        <p>{{item.fecha}}</p>
      </ion-col>
      <ion-col size="6" size-md="3"[ngSwitch]="item.medicamento_franja">
        <p *ngSwitchCase="1">Desayuno</p>
        <p *ngSwitchCase="2">Almuerzo</p>
        <p *ngSwitchCase="3">Comida</p>
        <p *ngSwitchCase="4">Merienda</p>
        <p *ngSwitchCase="5">Cena</p>
      </ion-col>
      <ion-col size="6" size-md="3">
        <p>{{item.medicamento_nombre}}</p>
      </ion-col>
      <ion-col size="6" size-md="3" [ngSwitch]="item.medicamento_validacion">
        <div *ngSwitchCase="true">
          <ion-icon name="checkmark-circle" color="success" size="large"></ion-icon>
        </div>
        <div *ngSwitchCase="false">
          <ion-icon name="close-circle" color="danger" size="large"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>
