
<ion-content color="medium">

  <ion-grid color="light">
    <ion-row>
      <ion-col size="12">
        <img class="img" src="./../../../assets/logotipo.png" alt="">
       <!-- <img class="img" src="/memory_senior_trainer/assets/logotipo.png" alt="">-->
      </ion-col>
    </ion-row>
    <ion-row class="formContent">
        <ion-row>
          <ion-col size="12">
            <ion-input type="text" [(ngModel)]="cuenta_email" placeholder="Correo electronico de la cuenta"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-input type="password" [(ngModel)]="password" placeholder="Contraseña de la cuenta"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="noBorder">
            <ion-button (click)="login()" shape="round" color="tertiary">
              Conectar
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="noBorder" (click)="registrarse()">
            <ion-label>No tengo cuenta <strong>REGISTRARSE</strong></ion-label>
          </ion-col>
        </ion-row>
    </ion-row>
  </ion-grid>

</ion-content>

