ion-grid{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.img{
    //width: 20%;
    margin-top: 10%;
    width: 250px;
}
.formContent{
    
    color:black;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px;
    ion-col{
        background-color: #f4f5f8;
        margin: 20px;
        border: 1px solid #009faf;
        border-radius: 20px 20px;
        padding: 10px;
        font-size: 30px;

    }
    .noBorder{
        background-color:#e0f7fa;
        border: none;
        ion-button{
            font-size: 30px;
            margin: 5px;
        }
        strong{
            color: #009faf;
        }
        
    }
}
