.contenedorAgenda{
    display: flex;
    .titleContainer{
        width: 80%;
        border: 1px solid #009faf;
        //margin-top: 20px;
        border-radius: 10px 40px 40px 10px;
        .titlePantalla{
            font-size: 40px;
            text-align: center;
            color: #009faf;
            font-weight: 900;
        }
        .marginLeft{
            margin-left: 30px;
        }
    }
    ion-grid{
        margin-top: 8rem;
        width: 90%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: black;
        font-size: 30px;
        @media only screen and (max-width: 600px){
            margin-top: 1rem;
        }
        ion-row{
            border: 1px solid #009faf;
            border-radius: 20px 20px;
            background: #f4f5f8;
            margin:5px;
            text-align: center;
            

        }
        .tituloDia{
            border: none;       
            text-align: left;
            background-color: #e0f7fa;
            h2{
                color:  #009faf;
                font-weight: bold;
                font-size: 35px;
            }
        }
    }
     
}