<app-header></app-header>

<ion-content class="contenedorAgenda" color="medium" [fullscreen]="true">

  <ion-item color="light" class="titleContainer ion-hide-md-down" slot="fixed" >
    <h2 class="titlePantalla marginLeft">{{nombre}} </h2><h2 class="titlePantalla">&nbsp;esta es tu agenda para estos días</h2>
  </ion-item>
  
  <ion-grid fixed>
    <ion-row class="tituloDia">
      <ion-col size="12" >
        <h2>HOY</h2>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let hoyItems of agendaHoy; index as i" >
      <ion-col size="12" size-md="2" >
        <h2>{{hoyItems.item_agenda_hora}}</h2>
      </ion-col>
      <ion-col size="12" size-md="4" >
        <h2>{{hoyItems.item_agenda_item}}</h2>
      </ion-col>
      <ion-col size="12" size-md="4" >
        <h2>{{hoyItems.item_agenda_descripcion}}</h2>
      </ion-col>  
    </ion-row>


    <ion-row class="tituloDia">
      <ion-col size="12" >
        <h2>MAÑANA</h2>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let mananaItems of agendaManana; index as i" >
      <ion-col size="12" size-md="2" >
        <h2>{{mananaItems.item_agenda_hora}}</h2>
      </ion-col>
      <ion-col size="12" size-md="4" >
        <h2>{{mananaItems.item_agenda_item}}</h2>
      </ion-col>
      <ion-col size="12" size-md="4" >
        <h2>{{mananaItems.item_agenda_descripcion}}</h2>
      </ion-col>  
    </ion-row>

    <ion-row class="tituloDia">
      <ion-col size="12" >
        <h2>A PARTIR DE PASADO MAÑANA</h2>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let restoItems of agendaResto; index as i" >
      <ion-col size="12" size-md="2" >
        <h2>{{restoItems.item_agenda_fecha}}</h2>
      </ion-col>
      <ion-col size="12" size-md="2" >
        <h2>{{restoItems.item_agenda_hora}}</h2>
      </ion-col>
      <ion-col size="12" size-md="4" >
        <h2>{{restoItems.item_agenda_item}}</h2>
      </ion-col>
      <ion-col size="12" size-md="4" >
        <h2>{{restoItems.item_agenda_descripcion}}</h2>
      </ion-col>  
    </ion-row>
  </ion-grid>
        
    
  
  </ion-content>
