ion-header{
    background: #e0f7fa;
}
ion-toolbar{
    display: flex;
    justify-content: space-between;
}
.ico-left{
    margin-right: 20px;
}
p{
    font-size: 30px;
    margin-top: unset;
    margin-bottom: unset;
}
ion-content{
    display: flex;
    justify-content: center;
    align-items: center;
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        h1{
            margin-left: 20px;
            color: #009faf;
            font-size: 40px;
        }
    }

}
