<ion-header>
  <ion-toolbar color="medium">
    <ion-title color="tertiary"> Editar evento de la agenda</ion-title>
 </ion-toolbar>
</ion-header>

<ion-content color="medium">

  <ion-content class="cont" color="medium">
    <ion-item class="formulario">
      <ion-label>Evento</ion-label>
      <ion-input type="text" placeholder="Evento" [(ngModel)]=agendaItem.item_agenda_item></ion-input>
    </ion-item>
    <ion-item class="formulario">
      <ion-label>Fecha : </ion-label>
      <ion-datetime displayFormat="DD MMMM YYYY"   [(ngModel)]=agendaItem.item_agenda_fecha></ion-datetime>
    </ion-item>
    <ion-item class="formulario">
      <ion-label>Hora : </ion-label>
      <ion-datetime displayFormat="HH:mm "   [(ngModel)]=agendaItem.item_agenda_hora></ion-datetime>
    </ion-item>
    <ion-item class="formulario">
      <ion-label>Descripción : </ion-label>
      <ion-input type="text" placeholder="Descripción..." [(ngModel)]=agendaItem.item_agenda_descripcion></ion-input>
    </ion-item>

    <div class="btnGroup">
      <ion-button color="success" (click)="updateItemAgenda()">
        <ion-icon slot="start" name="save" size='large' ></ion-icon>
        Guardar
      </ion-button>
      <ion-button color="danger" (click)="cancelAdd()">
        <ion-icon slot="start" name="close"  size='large'></ion-icon>
        Cancelar
      </ion-button>
    </div>

</ion-content>





</ion-content>

