ion-title{
    font-size: 30px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    color: #009faf;
    @media only screen and (max-width: 600px){
        font-size: 15px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
}
ion-label{
    font-size: 20px;
}

.picker-opt.picker-opt-selected{
    color: #009faf !important;
}
.picker-button,.sc-ion-picker-md, .picker-button,.ion-activated,.sc-ion-picker-md {
    color: #009faf
}

ion-button{
    font-size: 30px;
}

ion-item{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    @media only screen and (max-width: 600px){
        margin-top: 5px;
    }
}
ion-datetime{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    font-size: 20px;
    @media only screen and (max-width: 600px){
        margin-top: 5px;
    }
    
}
.dobleColumna{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.radio-row{
    display: flex;
    flex-direction: row;
}
.btnGroup{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    ion-button{
        margin: 20px;
    }
}

ion-input{
    font-size: 20px;
    
}