<div color="medium">

  <ion-title>Datos del RESPONSABLE del mayor</ion-title>
  <ion-item>
    <ion-input [(ngModel)]=datosFormulario.nombreRes  placeholder="Nombre del usuario Responsable"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]=datosFormulario.cuenta_email placeholder="Email del usuario Responsable"></ion-input>
  </ion-item>
  <ion-title>Datos del MAYOR</ion-title>
  <ion-item>
    <ion-input [(ngModel)]=datosFormulario.usuario_nombre placeholder="Nombre del MAYOR"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]=datosFormulario.usuario_apellidos placeholder="Apellidos del MAYOR"></ion-input>
  </ion-item>
  <ion-item>
    <ion-datetime [(ngModel)]=datosFormulario.usuario_fecha_nacimiento displayFormat="DD MM YY" placeholder="Fecha de nacimiento del MAYOR" ></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]=datosFormulario.usuario_email placeholder="Email del MAYOR"></ion-input>
  </ion-item>


  <div class="btnGroup">
    <ion-button color="success" (click)="guardarDatosPeronales()">
      <ion-icon slot="start" name="save" size='large' ></ion-icon>
      Guardar
    </ion-button>
    <ion-button color="danger">
      <ion-icon slot="start" name="close"  size='large'></ion-icon>
      Cancelar
    </ion-button>
  </div>


</div>
