.contenedorMedicamentos{
    display: flex;
    .titleContainer{
        width: 80%;
        border: 1px solid #009faf;
        margin-top: 20px;
        border-radius: 10px 40px 40px 10px;
        .titlePantalla{
            font-size: 40px;
            text-align: center;
            color: #009faf;
            font-weight: 900;
        }
        .marginLeft{
            margin-left: 30px;
        }
    }
    ion-grid{
        margin-top: 8rem;
        width: 90%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: black;
        @media only screen and (max-width: 600px){
            margin-top: 1rem;
        }
        ion-row{
            border: 1px solid #009faf;
            border-radius: 20px 20px;
            background: #f4f5f8;
            margin:5px;
            text-align: center;
            .inRow{
                display: flex;
                flex-direction: row;
            }
            ion-toggle {
                --background: #eb445a;
                --background-checked: #2dd36f;
              
                --handle-background: #B22222;
                --handle-background-checked: #228B22;

                width: 60px;
                height: 20px;
                --handle-height: 30px;
                --handle-width: 30px;

              }

        }
    }
     
}