<app-header></app-header>

<ion-content class="contenedorMedicamentos" color="medium" [fullscreen]="true">

<ion-item color="light" class="titleContainer ion-hide-md-down" slot="fixed">
  <h2 class="titlePantalla marginLeft">{{nombre}} </h2><h2 class="titlePantalla">&nbsp;los medicamentos que tienes que tomar hoy</h2>
</ion-item>

<ion-grid fixed>
  <ion-row *ngFor="let medicina of medicamentos; index as i" >
    <ion-col size="12" size-md="2" [ngSwitch]="medicina.medicamento_franja">
      <h2 *ngSwitchCase="1">Desayuno</h2>
      <h2 *ngSwitchCase="2">Almuerzo</h2>
      <h2 *ngSwitchCase="3">Comida</h2>
      <h2 *ngSwitchCase="4">Merienda</h2>
      <h2 *ngSwitchCase="5">Cena</h2>
    </ion-col>
    <ion-col size="12" size-md="3" >
      <h2>{{medicina.medicamento_nombre}}</h2>
    </ion-col>
    <ion-col size="12" size-md="4" >
      <h2>{{medicina.medicamento_cantidad}}</h2>
    </ion-col>
    <ion-col size="12" size-md="3" class="inRow">
      <h2>¿Lo has tomado?</h2>
      <ion-toggle (ionChange)='guardarMedicamentoTomado(medicina,$event)' [(ngModel)]="medicina.medicamento_validacion"></ion-toggle>
    </ion-col>
 

    
  </ion-row>
</ion-grid>
      
  

</ion-content>