
<ion-content color="medium">

  <ion-grid color="light">
    <ion-row>
      <ion-col size="12">
        <img class="img" src="./../../../assets/logotipo.png" alt="">
      </ion-col>
    </ion-row>
    <ion-row class="formContent">
      <ion-row>
        <ion-col size="12" class="noBorder">
          <ion-label>Datos del responsable del mayor</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-label *ngIf='koResponsable_nombre' color="danger" class="strErroInput">*Campo obligatorio</ion-label>
          <ion-input type="text" (ionBlur)="checkInput('name')" [(ngModel)]="responsable_nombre" placeholder="Tu nombre como persona responsable" ></ion-input>
        </ion-col>
      </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-label *ngIf='koCuenta_email' color="danger" class="strErroInput">*Campo obligatorio o no valido</ion-label>
            <ion-input type="email" (ionBlur)="checkInput('email')" [(ngModel)]="cuenta_email" placeholder="Correo electronico de la cuenta"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-label *ngIf='koPassword' color="danger" class="strErroInput">*No valida: entre 8 y 16 caracteres con mayúsculas minúsculas y números</ion-label>
            <ion-input type="password" minlength=8 maxlength=16 (ionBlur)="checkInput('pass')" [(ngModel)]="password" placeholder="Contraseña de la cuenta"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-label *ngIf='koPasswordBis' color="danger" class="strErroInput">*Error: No coinciden</ion-label>
            <ion-input type="password" minlength=8 maxlength=16 (ionBlur)="checkInput('passBis')" [(ngModel)]="passwordBis" placeholder="Contraseña de la cuenta"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="noBorder">
            <ion-button (click)="checkInput('final')" shape="round" color="tertiary">
              Crear Cuenta
            </ion-button>
          </ion-col>
        </ion-row>
    </ion-row>
  </ion-grid>

</ion-content>
