<ion-header>
  <ion-toolbar color="medium">
    <ion-title color="tertiary"> Editar número de teléfono del listin</ion-title>
 </ion-toolbar>
</ion-header>

<ion-content color="medium">

  <ion-content class="cont" color="medium">
    <ion-item class="formulario">
      <ion-label>Fotografía : </ion-label>
      <ion-input type="file" placeholder="Buscar fotografía" [(ngModel)]=toUpdateTelefono.numero_tel_imagen></ion-input>
    </ion-item>
    <ion-item class="formulario">
      <ion-label>Nombre : </ion-label>
      <ion-input type="text" placeholder="Nombre del contacto" [(ngModel)]=toUpdateTelefono.numero_tel_nombre></ion-input>
    </ion-item>
    <ion-item class="formulario">
      <ion-label>Número : </ion-label>
      <ion-input type="text" placeholder="Número de teléfono" [(ngModel)]=toUpdateTelefono.numero_tel_numero></ion-input>
    </ion-item>

    <div class="btnGroup">
      <ion-button color="success" (click)="updateTelefono()">
        <ion-icon slot="start" name="save" size='large' ></ion-icon>
        Guardar
      </ion-button>
      <ion-button color="danger" (click)="cancelAdd()">
        <ion-icon slot="start" name="close"  size='large'></ion-icon>
        Cancelar
      </ion-button>
    </div>

</ion-content>
