<ion-header>
  <ion-toolbar color="medium">
    <ion-title color="tertiary"> Añadir fotografía nueva al álbum</ion-title>
 </ion-toolbar>
</ion-header>

<ion-content color="medium">

  <ion-content class="cont" color="medium">
    <ion-item class="formulario">
      <ion-label>Fotografía : </ion-label>
      <ion-input type="file"  placeholder="Buscar fotografía" [(ngModel)]=addFoto.foto_imagen (change)='cargarFoto($event)'></ion-input>

      

    </ion-item>

  

    <ion-item class="formulario">
      <ion-label>Comentario : </ion-label>
      <p *ngIf="comentarioKO" color="danger" class="strErroInput">*Añade un comentario a la foto</p>
      <ion-input type="text" placeholder="Comenta o describe la fotografía" [(ngModel)]=addFoto.foto_comentario ></ion-input>
    </ion-item>

    <div class="btnGroup">
      <ion-button color="success" (click)="addNewFoto()" >
        <ion-icon slot="start" name="save" size='large' ></ion-icon>
        Guardar
      </ion-button>


      <ion-button color="danger" (click)="cancelAdd()">
        <ion-icon slot="start" name="close"  size='large'></ion-icon>
        Cancelar
      </ion-button>
    </div>

</ion-content>
