ion-title{
    font-size: 40px;
    font-weight: bold;
}
ion-button{
    font-weight: bold;
    font-size: 30px;
    margin: 10px;
}
ion-item{
    width: 90%;
    margin: auto;
}
.cont{
    margin-top: 500px;
}
.formulario{
    margin-top: 40px;
    ion-label{
        font-size: 30px;
        color: #009faf;
    }
    ion-select{
        font-size: 30px;
    }
    ion-input{
        font-size: 20px;
    }

}
.btnGroup{
    margin-top: 2rem;
    text-align: center;
}
.strErroInput{
    font-size: 20px;
}
