<ion-header>
  <ion-toolbar color="medium">
    <ion-title color="tertiary"> Editar fotografía del álbum</ion-title>
 </ion-toolbar>
</ion-header>

<ion-content color="medium">

  <ion-content class="cont" color="medium">
    <ion-item class="formulario">
      <ion-label>Fotografía : </ion-label>
      <ion-input type="file" placeholder="Buscar fotografía" [(ngModel)]=fotografia.foto_imagen></ion-input>
    </ion-item>
    <ion-item class="formulario">
      <ion-label>Comentario : </ion-label>
      <ion-input type="text" placeholder="Comenta o describe la fotografía" [(ngModel)]=fotografia.foto_comentario></ion-input>
    </ion-item>

    <div class="btnGroup">
      <ion-button color="success" (click)="updateFoto()">
        <ion-icon slot="start" name="save" size='large' ></ion-icon>
        Guardar
      </ion-button>
      <ion-button color="danger" (click)="cancelAdd()">
        <ion-icon slot="start" name="close"  size='large'></ion-icon>
        Cancelar
      </ion-button>
    </div>

</ion-content>