ion-button{
    ion-icon{
        margin-right: 1rem;
    }
    p{
        font-size: 30px;
        @media only screen and (max-width: 600px){
            font-size: 20px;
        }
        
    }
}
.detalle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;  
    margin-top: 2rem;
    @media only screen and (max-width: 600px){
        flex-direction: column;  
    }
}

img{
    width:50%;
    border-radius: 10px 10px;
    @media only screen and (max-width: 600px){
        width:95%;
    }
}

.comentario{
    width: 30%;
    color: black;
    font-size: 30px;
    height: 100%;
    border: 1px solid #009faf;
    background-color: #f4f5f8;
    border-radius: 10px 10px;
    padding: 20px;
    @media only screen and (max-width: 600px){
        width:95%;
    }
}