<ion-header color="medium">
  <ion-button (click)="goBack()"  shape="round" color="tertiary">
    <ion-icon name="arrow-back-circle" class="ico-left" color="light"size="large"></ion-icon>
    <p color="light">Volver atrás</p>
  </ion-button>
</ion-header>

<ion-content color="medium" >

  <div class="detalle">  
    <img src="{{foto.foto_imagen}}" alt="FOTO">

  <p class="comentario">{{foto.foto_comentario}}</p>
  </div>


</ion-content>
