
.ico-left{
    margin-right: 20px;
}
.contenedorAlbum{
    .titleContainer{
        width: 80%;
        border: 1px solid #009faf;
        //margin-top: 20px;
        border-radius: 10px 40px 40px 10px;
        
        .titlePantalla{
            font-size: 40px;
            text-align: left;
            color: #009faf;
            font-weight: 900;
        }
        .marginLeft{
            margin-left: 30px;
        }
    }
    .btn-right{
        display: flex;
        justify-content: flex-end;
    }
    ion-grid{
        margin-top: 8rem;
        width: 100%;
        display: flex;
        justify-content: center;
        @media only screen and (max-width: 600px){
            margin-top: 1rem;
        }
        ion-row{
            width: 90%;
            ion-card{
                margin: none;
                margin-top: 10px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                height: 100%;
                img{
                    margin: 5px;
                }
                ion-item{
                    height: 100%;
                    ion-label{
                        font-size: 25px;
                    }
                }
                ion-button{
                    margin: 5px;
                    width: 70%;
                    p{
                        font-size: 30px;
                        margin-top: unset;
                        margin-bottom: unset;
                        
                    }
                    @media only screen and (max-width: 600px){
                        p{
                            font-size: 20px;
                        }
                    }
                    
                    .ico-right{
                        margin-left: 10px;
                    }
                }
            }
        }
    }
     
}

