<app-header></app-header>

<ion-content class="contenedorAlbum" color="medium" [fullscreen]="true">

<ion-item color="light" class="titleContainer ion-hide-md-down" slot="fixed">
  <h2 class="titlePantalla marginLeft">{{nombre}} </h2><h2 class="titlePantalla">&nbsp;este es tu álbum</h2>
</ion-item>

<ion-grid fixed>
  <ion-row>
    <ion-col size="12" size-md="3" *ngFor="let foto of albumFotos; index as i">
      <ion-card  >
        <img src="{{foto.foto_imagen}}" alt="">
        <ion-item>
          <ion-label>{{foto.foto_comentario}}</ion-label>
        </ion-item>
  
        <div class="btn-right">

          <ion-button (click)="verFoto(foto)"   shape="round" color="tertiary">
            <ion-icon class="ico-left"  name="eye" color="light"size="large"></ion-icon>
            <p color="light" >VER</p>
          </ion-button>

        </div>
        
        
      </ion-card>

    </ion-col>
 
  </ion-row>
</ion-grid>
      
  

</ion-content>
