ion-header{
    background: #e0f7fa;
}
ion-toolbar{
    display: flex;
    justify-content: space-between;
}
.ico-left{
    margin-right: 20px;
}
p{
    font-size: 30px;
    margin-top: unset;
    margin-bottom: unset;
}