<ion-header [translucent]="true" >
  <ion-toolbar color="medium">

      <ion-button (click)="goHome()"  shape="round" color="tertiary">
        <ion-icon class="ico-left" name="home" color="light"size="large"></ion-icon>
        <p color="light">Ir al Principio</p>
      </ion-button>

  </ion-toolbar>
</ion-header>
