.contenedorListin{
    .titleContainer{
        width: 80%;
        border: 1px solid #009faf;
        //margin-top: 20px;
        border-radius: 10px 40px 40px 10px;
        .titlePantalla{
            font-size: 40px;
            text-align: center;
            color: #009faf;
            font-weight: 900;
        }
        .marginLeft{
            margin-left: 30px;
        }
    }
    ion-grid{
        margin-top: 8rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: black;
        @media only screen and (max-width: 600px){
            margin-top: 1rem;
        }
        
        ion-row{
            width: 90%;
            background-color: #f4f5f8;
            border: 1px solid #009faf;
            border-radius: 20px 20px;
            margin: 5px;
            h2{
                font-size: 35px;
            }
            ion-col{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
            .inLine{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
            ion-icon{
                margin-right: 10px;
            }
            img{
                border-radius: 50% 50%;
                width:  50%;
                margin: 10px;
                max-width: 150px;
                min-width: 150px;
            }
        }
    }

}