<app-header></app-header>

<ion-content class="contenedorListin" color="medium" [fullscreen]="true">

  <ion-item color="light" class="titleContainer ion-hide-md-down" slot="fixed">
    <h2 class="titlePantalla marginLeft">{{nombre}} </h2><h2 class="titlePantalla">&nbsp;tus números de teléfono importantes</h2>
  </ion-item>
  
  <ion-grid fixed>
    <ion-row *ngFor="let tel of telefonos; index as i" >
      <ion-col size="12" size-md="4" >
        <img src="{{tel.numero_tel_imagen}}" alt="">
      </ion-col>
      <ion-col size="12" size-md="4" >
        <h2>{{tel.numero_tel_nombre}}</h2>
      </ion-col>
      <ion-col size="12" size-md="4" class="inLine">
        <ion-icon name="call" color="tertiary"  size="large"></ion-icon>
        <a href="tel:+34{{tel.numero_tel_numero}}"><h2>{{tel.numero_tel_numero}}</h2></a>
      </ion-col>
    </ion-row>
  </ion-grid>
        
    
  
  </ion-content>
